<?php
/**
 * EnvironmentsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * LaunchDarkly REST API
 *
 * Build custom integrations with the LaunchDarkly REST API
 *
 * OpenAPI spec version: 2.0.0
 * Contact: support@launchdarkly.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * EnvironmentsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class EnvironmentsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return EnvironmentsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation deleteEnvironment
     *
     * Delete an environment by ID
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param string $environment_key The environment key (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function deleteEnvironment($project_key, $environment_key)
    {
        list($response) = $this->deleteEnvironmentWithHttpInfo($project_key, $environment_key);
        return $response;
    }

    /**
     * Operation deleteEnvironmentWithHttpInfo
     *
     * Delete an environment by ID
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param string $environment_key The environment key (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteEnvironmentWithHttpInfo($project_key, $environment_key)
    {
        // verify the required parameter 'project_key' is set
        if ($project_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $project_key when calling deleteEnvironment');
        }
        // verify the required parameter 'environment_key' is set
        if ($environment_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $environment_key when calling deleteEnvironment');
        }
        // parse inputs
        $resourcePath = "/environments/{projectKey}/{environmentKey}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($project_key !== null) {
            $resourcePath = str_replace(
                "{" . "projectKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($project_key),
                $resourcePath
            );
        }
        // path params
        if ($environment_key !== null) {
            $resourcePath = str_replace(
                "{" . "environmentKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($environment_key),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/environments/{projectKey}/{environmentKey}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation getEnvironment
     *
     * Get an environment by key.
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param string $environment_key The environment key (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Environment
     */
    public function getEnvironment($project_key, $environment_key)
    {
        list($response) = $this->getEnvironmentWithHttpInfo($project_key, $environment_key);
        return $response;
    }

    /**
     * Operation getEnvironmentWithHttpInfo
     *
     * Get an environment by key.
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param string $environment_key The environment key (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Environment, HTTP status code, HTTP response headers (array of strings)
     */
    public function getEnvironmentWithHttpInfo($project_key, $environment_key)
    {
        // verify the required parameter 'project_key' is set
        if ($project_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $project_key when calling getEnvironment');
        }
        // verify the required parameter 'environment_key' is set
        if ($environment_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $environment_key when calling getEnvironment');
        }
        // parse inputs
        $resourcePath = "/environments/{projectKey}/{environmentKey}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($project_key !== null) {
            $resourcePath = str_replace(
                "{" . "projectKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($project_key),
                $resourcePath
            );
        }
        // path params
        if ($environment_key !== null) {
            $resourcePath = str_replace(
                "{" . "environmentKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($environment_key),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Environment',
                '/environments/{projectKey}/{environmentKey}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Environment', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Environment', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation patchEnvironment
     *
     * Modify an environment by ID
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param string $environment_key The environment key (required)
     * @param \Swagger\Client\Model\PatchDelta[] $patch_delta http://jsonpatch.com/ (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function patchEnvironment($project_key, $environment_key, $patch_delta)
    {
        list($response) = $this->patchEnvironmentWithHttpInfo($project_key, $environment_key, $patch_delta);
        return $response;
    }

    /**
     * Operation patchEnvironmentWithHttpInfo
     *
     * Modify an environment by ID
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param string $environment_key The environment key (required)
     * @param \Swagger\Client\Model\PatchDelta[] $patch_delta http://jsonpatch.com/ (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function patchEnvironmentWithHttpInfo($project_key, $environment_key, $patch_delta)
    {
        // verify the required parameter 'project_key' is set
        if ($project_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $project_key when calling patchEnvironment');
        }
        // verify the required parameter 'environment_key' is set
        if ($environment_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $environment_key when calling patchEnvironment');
        }
        // verify the required parameter 'patch_delta' is set
        if ($patch_delta === null) {
            throw new \InvalidArgumentException('Missing the required parameter $patch_delta when calling patchEnvironment');
        }
        // parse inputs
        $resourcePath = "/environments/{projectKey}/{environmentKey}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($project_key !== null) {
            $resourcePath = str_replace(
                "{" . "projectKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($project_key),
                $resourcePath
            );
        }
        // path params
        if ($environment_key !== null) {
            $resourcePath = str_replace(
                "{" . "environmentKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($environment_key),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($patch_delta)) {
            $_tempBody = $patch_delta;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/environments/{projectKey}/{environmentKey}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation postEnvironment
     *
     * Create an environment
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param \Swagger\Client\Model\EnvironmentBody $environment_body New environment (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function postEnvironment($project_key, $environment_body)
    {
        list($response) = $this->postEnvironmentWithHttpInfo($project_key, $environment_body);
        return $response;
    }

    /**
     * Operation postEnvironmentWithHttpInfo
     *
     * Create an environment
     *
     * @param string $project_key The project key, used to tie the flags together under one project so they can be managed together. (required)
     * @param \Swagger\Client\Model\EnvironmentBody $environment_body New environment (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function postEnvironmentWithHttpInfo($project_key, $environment_body)
    {
        // verify the required parameter 'project_key' is set
        if ($project_key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $project_key when calling postEnvironment');
        }
        // verify the required parameter 'environment_body' is set
        if ($environment_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $environment_body when calling postEnvironment');
        }
        // parse inputs
        $resourcePath = "/environments/{projectKey}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($project_key !== null) {
            $resourcePath = str_replace(
                "{" . "projectKey" . "}",
                $this->apiClient->getSerializer()->toPathValue($project_key),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($environment_body)) {
            $_tempBody = $environment_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/environments/{projectKey}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }
}
